body {
  background-color: rgb(16, 17, 17);
}

.table-container {
  padding-top: 10%;
  width: 100%;
  margin: auto;
  float: left;
}

.table {
  width: 90%;
  margin: 5% 5%;
}

.wrapper {
  margin-left: 5%;
}

.wrapper h4 {
  text-align: center;
  color: whitesmoke;
}

.form-inline {
  float: right;
  margin-right: 5%;
}

.form-inline input {
  width: 10%;
}

.form-inline label {
  color: whitesmoke;
}

.wrapper-compras {
  width: 40%;

  float: left;
}

.wrapper-estoque {
  width: 40%;
  margin-right: 5%;
  float: right;
}
@media only screen and (max-width: 1000px) {
  .table-container {
    float: none;
  }
  .table {
    margin: 0 auto;
  }
  .wrapper {
    width: 90%;
    float: none;
    margin-bottom: 10%;
  }
  .form-inline {
    left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .form-inline input {
    width: 60%;
  }
}
